@import "tailwindcss";

@config "../../tailwind.config.ts";

:root {
  --background: #ffffff;
  --foreground: #0F172A;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter), sans-serif;
  color: var(--foreground);
}

code,
pre,
kbd {
  font-family: var(--font-fira-code), monospace;
}